@use "../styles/variables"as *;

.about {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 40px 40px;

    img {
        width: 100%;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;
        margin-bottom: 38px;
        filter: brightness(70%);
    }
}

@media screen and (max-width: 768px) {
    .about {
        padding: 0 20px 20px;

        >img {
            height: 223px;
            margin-bottom: 20px;
            border-radius: 10px;
        }
        .aboutCollapse {
            display: flex;
            flex-direction: column;
            gap: 15px;
  }
    }
}