@use "../styles/variables" as*;


.header{
    display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 40px;
nav{
    display: flex;
    gap: 40px;

    .nav-link{
        color: black;
        font-family: $font-family;
        text-decoration: none;
        &.active{
            text-decoration: underline;
        }
    }
}
}